bin
include
lib
src/Makefile.inc*
src/check/*
!src/check/*[.][ch]
!src/check/Makefile
!src/check/data
src/libscotch/*[.][ao]
src/libscotch/dummysizes
src/libscotch/parser_ll.c
src/libscotch/parser_ly.h
src/libscotch/parser_yy.c
src/libscotch/ptdummysizes
src/libscotch/scotch.h
src/libscotch/scotchf.h
src/libscotch/ptscotch.h
src/libscotch/ptscotchf.h
src/libscotch/y.output
src/libscotchmetis/*[.][ao]
src/libscotchmetis/metis.h
src/libscotchmetis/parmetis.h
src/scotch/*
!src/scotch/*[.][ch]
!src/scotch/Makefile
